
{% extends 'layouts/base-fr.html' %}
{% block content%}
    {% load static %}
    <article role="article" about="/careers/" class="cview-full ctype-feature_page">
        <div class="top-content-cntr ">
        
            
                            <div class="field node field_featpage_feature  odd-t entity_reference_revisions">  <div class="standard-banner primary-bg default">
        <div class="std-banner-cntr">
        <div>
                            <div class="field paragraph field_component_stdban_media  odd-t entity_reference">
        <div class="view-banner field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
            
                            <div class="field media image  odd-t">      <div class="">
                <div class="b-lazy b-loaded" style="background-image: url(/static/imgs/UN0248235.jpg);"><span class="b-image" role="img" aria-label="A UNICEF Staff Member holding a smiling child"></span></div>
            </div>
        

        </div>
                    
            </div>
        </div>
                    </div>
            <div class="stdbanner-data">
            <div class="banner-text white">
            
        
        <h3 class="h3 white">
            For every child, a calling.
        </h3>
            <p class="banner-teaser">
        At UNICEF, we are committed, passionate and proud of what we do. Promoting the rights of every child isn’t just a job – it’s a calling. 
        </p>
            
                            <div class="field paragraph field_component_stdban_ctabtn  odd-t entity_reference_revisions">
        <a href="http://jobs.unicef.org/" class=" btn primary-bg white contained" data-action="http://jobs.unicef.org/" data-tracked-component="cta" data-bound="click" data-label="Search jobs" target="_blank">Search jobs</a>
        </div>
                    
            </div>
        </div>
        </div>
        </div>
        </div>
                    
        </div>


        <div class="main-content-cntr selectric-small">
            
            <div class="container-content">
                    
            <div class="field node field_featpage_content_blocks  section-cntr entity_reference_revisions">
                                <div class="grey-lightest-bg">

        <section class="section section--block component-section has-title " role="contentinfo" aria-label="Why work with UNICEF">
        <div class="container">
                <div class="stitle-cntr">
            <div class="text">
        
        
        <h2 class="field center field--name-field-component-sec-title">
            Why work with UNICEF
        </h2>
        </div>
            
            </div>
                
                <div class="field paragraph field_component_sec_blocks  odd-t entity_reference_revisions">
                                <div class="field_component_sec_blocks-item odd"><div class="section--block-media section-block-content container">
            <div class="media-block display-large">
                            <figure class="media-block--figure-large">
                            
                            <div class="field paragraph field_component_media_media  odd-t entity_reference"><div>
        
            
                            <div class="field media field_media_video_url  odd-t video_embed_field">  <iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/43aiG4w2q_M?autoplay=0&amp;start=0&amp;rel=0"></iframe>
        </div>
                    
                <figcaption class="img-credit">
        <span class="note m-credit grey-lighter grey-lighter field_media_video_credit">UNICEF</span>
        </figcaption>              
            </div>
        </div>
                    
                </figure>
            </div>
        </div>
        </div>
                        </div>
        
        </div>
        </section>
        </div>
                                        <div class="white-bg">

        <section class="section section--block component-section has-title " role="contentinfo" aria-label="Career stories and news">
        <div class="container">
                <div class="stitle-cntr">
            <div class="text">
        
        
        <h2 class="field center field--name-field-component-sec-title">
            Career stories and news
        </h2>
        </div>
            
            </div>
                
                <div class="field paragraph field_component_sec_blocks  odd-t entity_reference_revisions">
                                <div class="field_component_sec_blocks-item odd">
        <div class="unicef-component-mosaic unicef-component-mosaic-display-tile unicef-component-mosaic-display--tile_display_2_4_cards unicef-component-mosaic-display--has-featured curated-cntr">
        
                <div class="selectric-secondary secondary ">
            <form class="unicef-component-mosaic-curated" id="unicef-component-mosaic-curated-013903ea-514f-446a-9739-9da5c4b04212" data-drupal-selector="unicef-component-mosaic-curated" action="/careers/" method="post" accept-charset="UTF-8">
        
        <div class="unicef-component-mosaic-curated curated-cntr" data-drupal-selector="unicef-component-mosaic-curated">
        
                <div class="selectric-secondary secondary ">
            <div id="unicef-component-mosaic-curated-013903ea-514f-446a-9739-9da5c4b04212-container" data-drupal-selector="edit-rendered-view" class="js-form-wrapper form-wrapper">
            <div data-drupal-selector="edit-items" id="edit-items" class="col-4 disp-tile js-form-wrapper form-wrapper">
        

        <div class="card_large   white-bg grey-darker">
        <a href="/careers/press-releases/qatar-and-unicef-signs-agreement-junior-professional-officers" title="Qatar and UNICEF signs Agreement on Junior Professional Officers" data-action="/careers/press-releases/qatar-and-unicef-signs-agreement-junior-professional-officers" data-tracked-component="cta" data-bound="click" data-label="Qatar and UNICEF signs Agreement on Junior Professional Officers">
                <div class="card-hero-link">
                    
                            <div class="field node field_press_release_media  odd-t entity_reference">
        <div class="view-card_large field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
            
                            <div class="field media image  odd-t">  <img src="{% static 'imgs/UN071851.jpg' %}" width="934" height="500" alt="A UNICEF employee sitting with a child" typeof="foaf:Image">


        </div>
                    
            </div>
        </div>
                    
                </div>
            <div class="card-content">
            <div class="card-info">
                        <div class="tile--content-category grey-dark">
                                
                            <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
            
                            <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
        
            
                            <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
        <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"></path>
        </svg>

        </div>
                    
        </article>
        </div>
                    
            
                
                            <div class="field taxonomy_term name  odd-t string">Press release</div>
                    
                
        
        </div>
        </div>
                    
                </div>
                
                        <span class="note card-date grey-dark">26 October 2020</span>
                    </div>
                    
        
        <h5 class="h5  white-bg grey-darker">
            Qatar and UNICEF signs Agreement on Junior Professional Officers
        </h5>
                    
            <span class="btntext card-button-link btntext primary">Visit the page</span>
        </div>
        </a>
        </div>


        <div class="card   white-bg grey-darker">
        <a href="/careers/stories/refugee-girls-need-be-heard-and-seen-im-proud-speak-behalf-them" title="&quot;Refugee girls need to be heard and seen&quot;" data-action="/careers/stories/refugee-girls-need-be-heard-and-seen-im-proud-speak-behalf-them" data-tracked-component="cta" data-bound="click" data-label="&quot;Refugee girls need to be heard and seen&quot;">
                <div class="card-hero-link">
                    
                            <div class="field node field_article_hero  odd-t entity_reference_revisions">
                            <div class="field paragraph field_component_hero_stnd_img  odd-t entity_reference">
        <div class="view-card field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
            
                            <div class="field media image  odd-t">  <img src="{% static 'imgs/Anika.jpeg' %}" width="480" height="320" alt="A UNICEF employee with refugee children" typeof="foaf:Image">


        </div>
                    
            </div>
        </div>
                    </div>
                    
                </div>
            <div class="card-content">
            <div class="card-info">
                        <div class="tile--content-category grey-dark">
                                
                            <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
            
                            <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
        
            
                            <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
            <defs>
                <path d="M0 0h24v24H0V0z" id="a"></path>
            </defs>
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M21 5c-1.11-.35-2.33-.5-3.5-.5-1.95 0-4.05.4-5.5 1.5-1.45-1.1-3.55-1.5-5.5-1.5S2.45 4.9 1 6v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5 1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5V6c-.6-.45-1.25-.75-2-1zm0 13.5c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5V8c1.35-.85 3.8-1.5 5.5-1.5 1.2 0 2.4.15 3.5.5v11.5z"></path>
        </svg>

        </div>
                    
        </article>
        </div>
                    
            
                
                            <div class="field taxonomy_term name  odd-t string">Article</div>
                    
                
        
        </div>
        </div>
                    
                </div>
                
                    </div>
                    
        
        <h5 class="h5  white-bg grey-darker">
            "Refugee girls need to be heard and seen"
        </h5>
                        <p class="card-description text-small  white-bg grey-darker">
        On the International Day of the Girl Child, Anika Tanjim, a UN Volunteer serving as an Officer in Girls Education programmes in Bangladesh, shares her story
        </p>
                    
            <span class="btntext card-button-link btntext primary">Read the story</span>
        </div>
        </a>
        </div>


        <div class="card   white-bg grey-darker">
        <a href="/careers/stories/always-believe-yourself" title="“Always believe in yourself.”" data-action="/careers/stories/always-believe-yourself" data-tracked-component="cta" data-bound="click" data-label="“Always believe in yourself.”">
                <div class="card-hero-link">
                    
                            <div class="field node field_article_hero  odd-t entity_reference_revisions">
                            <div class="field paragraph field_component_hero_stnd_img  odd-t entity_reference">
        <div class="view-card field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
            
                            <div class="field media image  odd-t">  <img src="{% static 'imgs/tumblr_inline_p7g9mhU6IW1rikhsr_500.jpg' %}" width="480" height="320" alt="Souraya Hassan, Social Policy Specialist, UNICEF Burundi" typeof="foaf:Image">


        </div>
                    
            </div>
        </div>
                    </div>
                    
                </div>
            <div class="card-content">
            <div class="card-info">
                        <div class="tile--content-category grey-dark">
                                
                            <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
            
                            <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
        
            
                            <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
            <defs>
                <path d="M0 0h24v24H0V0z" id="a"></path>
            </defs>
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M21 5c-1.11-.35-2.33-.5-3.5-.5-1.95 0-4.05.4-5.5 1.5-1.45-1.1-3.55-1.5-5.5-1.5S2.45 4.9 1 6v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5 1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5V6c-.6-.45-1.25-.75-2-1zm0 13.5c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5V8c1.35-.85 3.8-1.5 5.5-1.5 1.2 0 2.4.15 3.5.5v11.5z"></path>
        </svg>

        </div>
                    
        </article>
        </div>
                    
            
                
                            <div class="field taxonomy_term name  odd-t string">Article</div>
                    
                
        
        </div>
        </div>
                    
                </div>
                
                    </div>
                    
        
        <h5 class="h5  white-bg grey-darker">
            “Always believe in yourself.”
        </h5>
                        <p class="card-description text-small  white-bg grey-darker">
        The Career Story of Souraya Hassan, UNICEF's Deputy Representative in Algeria.
        </p>
                    
            <span class="btntext card-button-link btntext primary">Read the story</span>
        </div>
        </a>
        </div>


        <div class="card   white-bg grey-darker">
        <a href="/careers/stories/set-your-priorities-enrich-your-knowledge-and-skills-and-work-hard" title="&quot;Set priorities, enrich knowledge and skills, work hard&quot;  " data-action="/careers/stories/set-your-priorities-enrich-your-knowledge-and-skills-and-work-hard" data-tracked-component="cta" data-bound="click" data-label="&quot;Set priorities, enrich knowledge and skills, work hard&quot;  ">
                <div class="card-hero-link">
                    
                            <div class="field node field_article_hero  odd-t entity_reference_revisions">
                            <div class="field paragraph field_component_hero_stnd_img  odd-t entity_reference">
        <div class="view-card field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
            
                            <div class="field media image  odd-t">  <img src="{% static 'imgs/IMG_5371_web.jpg' %}" width="480" height="320" alt="Manal Tahtamouni, Chief of Health and Nutrition" typeof="foaf:Image">


        </div>
                    
            </div>
        </div>
                    </div>
                    
                </div>
            <div class="card-content">
            <div class="card-info">
                        <div class="tile--content-category grey-dark">
                                
                            <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
            
                            <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
        
            
                            <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
            <defs>
                <path d="M0 0h24v24H0V0z" id="a"></path>
            </defs>
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M21 5c-1.11-.35-2.33-.5-3.5-.5-1.95 0-4.05.4-5.5 1.5-1.45-1.1-3.55-1.5-5.5-1.5S2.45 4.9 1 6v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5 1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5V6c-.6-.45-1.25-.75-2-1zm0 13.5c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5V8c1.35-.85 3.8-1.5 5.5-1.5 1.2 0 2.4.15 3.5.5v11.5z"></path>
        </svg>

        </div>
                    
        </article>
        </div>
                    
            
                
                            <div class="field taxonomy_term name  odd-t string">Article</div>
                    
                
        
        </div>
        </div>
                    
                </div>
                
                    </div>
                    
        
        <h5 class="h5  white-bg grey-darker">
            "Set priorities, enrich knowledge and skills, work hard"
        </h5>
                        <p class="card-description text-small  white-bg grey-darker">
        Times are changing and opportunities are increasing for women in the MENA region
        </p>
                    
            <span class="btntext card-button-link btntext primary">Read the story</span>
        </div>
        </a>
        </div>


        <div class="card   white-bg grey-darker">
        <a href="/careers/stories/there-no-reason-you-cant-do-it" title="“There is no reason you can’t do it”" data-action="/careers/stories/there-no-reason-you-cant-do-it" data-tracked-component="cta" data-bound="click" data-label="“There is no reason you can’t do it”">
                <div class="card-hero-link">
                    
                            <div class="field node field_article_hero  odd-t entity_reference_revisions">
                            <div class="field paragraph field_component_hero_stnd_img  odd-t entity_reference">
        <div class="view-card field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
            
                            <div class="field media image  odd-t">  <img src="{% static 'imgs/Hiba-ITS2_web_2.gif' %}" width="593" height="446" alt="picture 365" typeof="foaf:Image">

        </div>
                    
            </div>
        </div>
                    </div>
                    
                </div>
            <div class="card-content">
            <div class="card-info">
                        <div class="tile--content-category grey-dark">
                                
                            <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
            
                            <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
        
            
                            <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
            <defs>
                <path d="M0 0h24v24H0V0z" id="a"></path>
            </defs>
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M21 5c-1.11-.35-2.33-.5-3.5-.5-1.95 0-4.05.4-5.5 1.5-1.45-1.1-3.55-1.5-5.5-1.5S2.45 4.9 1 6v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5 1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5V6c-.6-.45-1.25-.75-2-1zm0 13.5c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5V8c1.35-.85 3.8-1.5 5.5-1.5 1.2 0 2.4.15 3.5.5v11.5z"></path>
        </svg>

        </div>
                    
        </article>
        </div>
                    
            
                
                            <div class="field taxonomy_term name  odd-t string">Article</div>
                    
                
        
        </div>
        </div>
                    
                </div>
                
                    </div>
                    
        
        <h5 class="h5  white-bg grey-darker">
            “There is no reason you can’t do it”
        </h5>
                        <p class="card-description text-small  white-bg grey-darker">
        I joined UNICEF on December 2014. I am very lucky, because what I am doing now is my childhood dream job
        </p>
                    
            <span class="btntext card-button-link btntext primary">Read the story</span>
        </div>
        </a>
        </div>


        <div class="card   white-bg grey-darker">
        <a href="/careers/stories/i-believe-inspiration-comes-knowledge-and-knowledge-comes-everywhere" title="“Inspiration comes from knowledge&quot;" data-action="/careers/stories/i-believe-inspiration-comes-knowledge-and-knowledge-comes-everywhere" data-tracked-component="cta" data-bound="click" data-label="“Inspiration comes from knowledge&quot;">
                <div class="card-hero-link">
                    
                            <div class="field node field_article_hero  odd-t entity_reference_revisions">
                            <div class="field paragraph field_component_hero_stnd_img  odd-t entity_reference">
        <div class="view-card field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
            
                            <div class="field media image  odd-t">  <img src="{% static 'imgs/tumblr_inline_pbee8kwrN81rikhsr_1280_1.jpg' %}" width="480" height="320" alt="Policy Specialist, Public Finance, UNICEF NYHQ" typeof="foaf:Image">


        </div>
                    
            </div>
        </div>
                    </div>
                    
                </div>
            <div class="card-content">
            <div class="card-info">
                        <div class="tile--content-category grey-dark">
                                
                            <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
            
                            <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
        
            
                            <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
            <defs>
                <path d="M0 0h24v24H0V0z" id="a"></path>
            </defs>
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M21 5c-1.11-.35-2.33-.5-3.5-.5-1.95 0-4.05.4-5.5 1.5-1.45-1.1-3.55-1.5-5.5-1.5S2.45 4.9 1 6v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5 1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5V6c-.6-.45-1.25-.75-2-1zm0 13.5c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5V8c1.35-.85 3.8-1.5 5.5-1.5 1.2 0 2.4.15 3.5.5v11.5z"></path>
        </svg>

        </div>
                    
        </article>
        </div>
                    
            
                
                            <div class="field taxonomy_term name  odd-t string">Article</div>
                    
                
        
        </div>
        </div>
                    
                </div>
                
                    </div>
                    
        
        <h5 class="h5  white-bg grey-darker">
            “Inspiration comes from knowledge"
        </h5>
                        <p class="card-description text-small  white-bg grey-darker">
        Knowing that absolutely everything we do has the goal of advancing the rights of children and improving their lives
        </p>
                    
            <span class="btntext card-button-link btntext primary">Read the story</span>
        </div>
        </a>
        </div>

        </div>
        
        </div>
        <input autocomplete="off" data-drupal-selector="form-sd6ypwpyiu0bzpwheulfngqqhwmcii2lfrncy5mr3am" type="hidden" name="form_build_id" value="form-sD6ypWpYiu0BzPWHEuLFNGqqhWMCII2LfRNCY5mR3aM"><input data-drupal-selector="edit-unicef-component-mosaic-curated" type="hidden" name="form_id" value="unicef_component_mosaic_curated">
        </div>
        </div>

        </form>

        </div>
        </div>
        </div>
                        </div>
        
        </div>
        </section>
        </div>
                        </div>
        
            </div>
            <!-- Document component -->
                
        
        </div>


        <!-- Related topics block component -->

            <article class="field-sec-block-cntr" role="article">
            <div class="container--mosaic">
            
                <div class="field node field_featpage_secdry_blocks  odd-t entity_reference_revisions">
                                <div class="field_featpage_secdry_blocks-item odd">  <div class="standard-banner accent-action-bg default">
        <div class="std-banner-cntr">
        <div>
                            <div class="field paragraph field_component_stdban_media  odd-t entity_reference">
        <div class="view-banner field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
            
                            <div class="field media image  odd-t">      <div class="" style="background-image : url({% static 'imgs/UN0157356.jpg' %});">
                <div class="" data-src="{% static 'imgs/UN0157356.jpg' %}" data-src-dog="{% static 'imgs/UN0157356.jpg' %}" data-src-mouse="{% static 'imgs/UN0157356.jpg' %}"><span class="b-image" role="img" aria-label="A female UNICEF staff high five with children"></span></div>
            </div>
        

        </div>
                    
            </div>
        </div>
                    </div>
            <div class="stdbanner-data">
            <div class="banner-text white">
            
        
        <h3 class="h3 white">
            Interested in working with UNICEF?
        </h3>
            <p class="banner-teaser">
        Learn more about our career opportunities and talent programmes.
        </p>
            
                            <div class="field paragraph field_component_stdban_ctabtn  odd-t entity_reference_revisions">
        <a href="/careers/explore-careers-unicef" class=" btn primary-bg white contained" data-action="/careers/explore-careers-unicef" data-tracked-component="cta" data-bound="click" data-label="Explore careers" target="">Explore careers</a>
        </div>
                    
            </div>
        </div>
        </div>
        </div>
        </div>
                        </div>
        
            </div>
        </article>
        
        <div class="sharethis-wrapper"><a href="#" class="btn white btn--share primary-bg" tabindex="0" role="button" arial-label="Share" aria-expanded="false"><div style="position: absolute; left: -999em;">Share</div></a>
            <span st_url="https://www.unicef.org/careers/" st_title="UNICEF Careers" class="st_facebook_large" displaytext="facebook" aria-label="facebook" tabindex="0" aria-hidden="true" role="button"></span>

            <span st_url="https://www.unicef.org/careers/" st_title="UNICEF Careers" class="st_twitter_large" displaytext="twitter" aria-label="twitter" tabindex="0" aria-hidden="true" role="button"></span>

            <span st_url="https://www.unicef.org/careers/" st_title="UNICEF Careers" class="st_linkedin_large" displaytext="linkedin" aria-label="linkedin" tabindex="0" aria-hidden="true" role="button"></span>

            <span st_url="https://www.unicef.org/careers/" st_title="UNICEF Careers" class="st_whatsapp_large" displaytext="whatsapp" aria-label="whatsapp" tabindex="0" aria-hidden="true" role="button"></span>

        </div>

    </article>
{% endblock %}