{% extends 'layouts/base-fr.html' %}
{% block content%}
{% load static %}
<article role="article" about="/media/press-centre" class="cview-full ctype-landing_page">
<div class="top-content-cntr has-hero">
      <div class="top-title container hero-text">
  <div class="title-data-cntr">
    <div class="grey-dark">
      
                      <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
    
                      <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
  
      
                      <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 22 18" style="enable-background:new 0 0 22 18;" xml:space="preserve" height="25" width="25">
<path d="M20,0H2C0.9,0,0,0.9,0,2v12c0,1.1,0.9,2,2,2h5v2h8v-2h5c1.1,0,2-0.9,2-2V2C22,0.9,21.1,0,20,0z M20,14H2V2h18V14z M18,5H4v2  h14V5z M18,9H4v2h14V9z"></path>
</svg>

</div>
            
  </article>
</div>
            
    
      	  
                      <div class="field taxonomy_term name  odd-t string">Page</div>
            
	    
  
  </div>
</div>
            
    </div>
    
  
<h1 class="h1">
      Press centre
  </h1>
          
  
<h3 class="sub-title center">
      Find the latest news on issues affecting children across the world, and UNICEF’s work for children, including press releases, multimedia content and other resources for journalists
  </h3>
              </div>
</div>
  
        <div class="hero hero-default">
      <div class="hero-image">
        
                      <div class="field node field_landingpg_hero  odd-t entity_reference_revisions">    <div class="paragraph paragraph--type--component-hero-ldgpg paragraph--view-mode--default">
                  
                      <div class="field paragraph field_component_hero_ldgpg_img  odd-t entity_reference">
  <div class="view-hero_landing field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
    
                      <div class="field media image  odd-t">      <div class="">
        <img class="b-lazy b-loaded" src=" {% static 'imgs/07_UN074465_Bluewash_WEB_2.jpg' %}" alt="Smiling boy holds soft toy up to camera in Kyrgzstan.">
      </div>
  

</div>
            
      </div>
</div>
            
            </div>
  </div>
            
      </div>
    </div>
    
</div>


<div class="main-content-cntr selectric-small">
            <div class="in-page-lang text_long grey-lighter-bc">
        <div class="linkcntr"><ul class="language-switcher-language-url link-smaller text-smaller-input"><li>Available in:</li><li class="en"><span class="language-link active">English</span></li><li hreflang="fr" data-drupal-link-system-path="node/16726" class="fr"><a href="/fr/media/centre-de-presse" class="language-link" hreflang="fr">Français</a></li><li hreflang="es" data-drupal-link-system-path="node/16726" class="es"><a href="/es/centro-de-prensa" class="language-link" hreflang="es">Español</a></li><li hreflang="ar" data-drupal-link-system-path="node/16726" class="ar"><a href="/ar/media/%D9%85%D8%B1%D9%83%D8%B2-%D8%A7%D9%84%D8%B5%D8%AD%D8%A7%D9%81%D8%A9" class="language-link" hreflang="ar">العربية</a></li><li hreflang="zh-hans" data-drupal-link-system-path="node/16726" class="zh-hans"><a href="/zh/media/%E6%96%B0%E9%97%BB%E4%B8%AD%E5%BF%83" class="language-link" hreflang="zh-hans">中文</a></li></ul></div>
      </div>
    
    <div class="container-content">
            
        <div class="field node field_landingpg_content_blocks  section-cntr odd-t entity_reference_revisions">
                        <div class="white-bg">

<section class="section section--block component-section has-title " role="contentinfo" aria-label="Latest press releases">
  <div class="container">
        <div class="stitle-cntr">
      <div class="text">
  
  
<h2 class="field center field--name-field-component-sec-title">
      Latest press releases
  </h2>
</div>
      
    </div>
        
      <div class="field paragraph field_component_sec_blocks entity_reference_revisions">
                        <div class="field_component_sec_blocks-item odd">  <div class="unicef-component-mosaic unicef-component-mosaic-display-tile unicef-component-mosaic-display--tile_display_2_4_cards unicef-component-mosaic-display--has-featured">
  
          <div class="selectric-secondary secondary unicef-component-mosaic--rendered en  ">
    <form class="unicef-component-mosaic-automatic" id="unicef-component-mosaic-automatic-a1e5baa0-14e2-46ae-9a20-9afc58ee622d" data-drupal-selector="unicef-component-mosaic-automatic" action="/api/unicef-component-mosaic/getbyoption/a1e5baa0-14e2-46ae-9a20-9afc58ee622d" method="post" accept-charset="UTF-8">
    <div class="unicef-component-mosaic-automatic" data-drupal-selector="unicef-component-mosaic-automatic">
  
          <div class="selectric-secondary secondary  ">
      <div id="unicef-component-mosaic-automatic-a1e5baa0-14e2-46ae-9a20-9afc58ee622d-container" data-drupal-selector="edit-rendered-view" class="js-form-wrapper form-wrapper">
    <div data-drupal-selector="edit-items" id="edit-items" class="col-4 disp-tile js-form-wrapper form-wrapper">
  

<div class="card_large   white-bg grey-darker">
  <a href="/press-releases/covid-19-over-97-cent-students-still-out-classrooms-latin-america-and-caribbean" title="COVID-19: over 97 per cent of students still out of the classrooms in Latin America and the Caribbean " data-action="/press-releases/covid-19-over-97-cent-students-still-out-classrooms-latin-america-and-caribbean" data-tracked-component="cta" data-bound="click" data-label="COVID-19: over 97 per cent of students still out of the classrooms in Latin America and the Caribbean ">
        <div class="card-hero-link">
            
                      <div class="field node field_press_release_media  odd-t entity_reference">
  <div class="view-card_large field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
    
                      <div class="field media image  odd-t">  <img src="{% static 'imgs/UNI328526.jpg' %}" width="750" height="500" alt="Children wear masks to get essentials at a nearby grocery store in Palencia, Guatemala. " typeof="foaf:Image">


</div>
            
      </div>
</div>
            
         </div>
    <div class="card-content">
      <div class="card-info">
                  <div class="tile--content-category grey-dark">
                        
                      <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
    
                      <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
  
      
                      <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
    <path d="M0 0h24v24H0z" fill="none"></path>
    <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"></path>
</svg>

</div>
            
  </article>
</div>
            
    
      	  
                      <div class="field taxonomy_term name  odd-t string">Press release</div>
            
	    
  
  </div>
</div>
            
          </div>
        
                  <span class="note card-date grey-dark">09 November 2020</span>
              </div>
              
  
<h5 class="h5  white-bg grey-darker">
      COVID-19: over 97 per cent of students still out of the classrooms in Latin America and the Caribbean
  </h5>
              
      <span class="btntext card-button-link btntext primary">Visit the page</span>
  </div>
 </a>
</div>


<div class="card   white-bg grey-darker">
  <a href="/press-releases/unicef-alarmed-spike-school-attacks-cameroon" title="UNICEF alarmed by spike in school attacks in Cameroon" data-action="/press-releases/unicef-alarmed-spike-school-attacks-cameroon" data-tracked-component="cta" data-bound="click" data-label="UNICEF alarmed by spike in school attacks in Cameroon">
    <div class="card-content">
      <div class="card-info">
                  <div class="tile--content-category grey-dark">
                        
                      <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
    
                      <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
  
      
                      <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
    <path d="M0 0h24v24H0z" fill="none"></path>
    <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"></path>
</svg>

</div>
            
  </article>
</div>
            
    
      	  
                      <div class="field taxonomy_term name  odd-t string">Press release</div>
            
	    
  
  </div>
</div>
            
          </div>
        
                  <span class="note card-date grey-dark">06 November 2020</span>
              </div>
              
  
<h5 class="h5  white-bg grey-darker">
      UNICEF alarmed by spike in school attacks in Cameroon
  </h5>
              
      <span class="btntext card-button-link btntext primary">Visit the page</span>
  </div>
 </a>
</div>


<div class="card   white-bg grey-darker">
  <a href="/press-releases/unicef-and-who-call-emergency-action-avert-major-measles-and-polio-epidemics" title=" UNICEF and WHO call for emergency action to avert major measles and polio epidemics" data-action="/press-releases/unicef-and-who-call-emergency-action-avert-major-measles-and-polio-epidemics" data-tracked-component="cta" data-bound="click" data-label=" UNICEF and WHO call for emergency action to avert major measles and polio epidemics">
        <div class="card-hero-link">
            
                      <div class="field node field_press_release_media  odd-t entity_reference">
  <div class="view-card field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
    
                      <div class="field media image  odd-t">  <img src="{% static 'imgs/UN0303658_0.jpg' %}" width="480" height="321" alt="Vaccines Colombia " typeof="foaf:Image">


</div>
            
      </div>
</div>
            
         </div>
    <div class="card-content">
      <div class="card-info">
                  <div class="tile--content-category grey-dark">
                        
                      <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
    
                      <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
  
      
                      <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
    <path d="M0 0h24v24H0z" fill="none"></path>
    <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"></path>
</svg>

</div>
            
  </article>
</div>
            
    
      	  
                      <div class="field taxonomy_term name  odd-t string">Press release</div>
            
	    
  
  </div>
</div>
            
          </div>
        
                  <span class="note card-date grey-dark">06 November 2020</span>
              </div>
              <p class="card-description text-small  white-bg grey-darker">
  UNICEF and WHO call for emergency action to avert major measles and polio epidemics
</p>
      
      <span class="btntext card-button-link btntext primary">Visit the page</span>
  </div>
 </a>
</div>


<div class="card   white-bg grey-darker">
  <a href="/press-releases/more-15-million-children-risk-due-impact-tropical-storm-eta-honduras-unicef" title="More than 1.5 million children at risk due to the impact of Tropical Storm ETA in Honduras- UNICEF" data-action="/press-releases/more-15-million-children-risk-due-impact-tropical-storm-eta-honduras-unicef" data-tracked-component="cta" data-bound="click" data-label="More than 1.5 million children at risk due to the impact of Tropical Storm ETA in Honduras- UNICEF">
    <div class="card-content">
      <div class="card-info">
                  <div class="tile--content-category grey-dark">
                        
                      <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
    
                      <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
  
      
                      <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
    <path d="M0 0h24v24H0z" fill="none"></path>
    <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"></path>
</svg>

</div>
            
  </article>
</div>
            
    
      	  
                      <div class="field taxonomy_term name  odd-t string">Press release</div>
            
	    
  
  </div>
</div>
            
          </div>
        
                  <span class="note card-date grey-dark">05 November 2020</span>
              </div>
              
  
<h5 class="h5  white-bg grey-darker">
      More than 1.5 million children at risk due to the impact of Tropical Storm ETA in Honduras- UNICEF
  </h5>
              
      <span class="btntext card-button-link btntext primary">Visit the page</span>
  </div>
 </a>
</div>


<div class="card   white-bg grey-darker">
  <a href="/press-releases/least-five-children-and-two-aid-workers-killed-renewed-wave-violence-north-west" title="At least five children and two aid workers killed in a renewed wave of violence in north-west Syria" data-action="/press-releases/least-five-children-and-two-aid-workers-killed-renewed-wave-violence-north-west" data-tracked-component="cta" data-bound="click" data-label="At least five children and two aid workers killed in a renewed wave of violence in north-west Syria">
    <div class="card-content">
      <div class="card-info">
                  <div class="tile--content-category grey-dark">
                        
                      <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
    
                      <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
  
      
                      <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
    <path d="M0 0h24v24H0z" fill="none"></path>
    <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"></path>
</svg>

</div>
            
  </article>
</div>
            
    
      	  
                      <div class="field taxonomy_term name  odd-t string">Statement</div>
            
	    
  
  </div>
</div>
            
          </div>
        
                  <span class="note card-date grey-dark">05 November 2020</span>
              </div>
              
  
<h5 class="h5  white-bg grey-darker">
      At least five children and two aid workers killed in a renewed wave of violence in north-west Syria
  </h5>
              
      <span class="btntext card-button-link btntext primary">Read now</span>
  </div>
 </a>
</div>


<div class="card   white-bg grey-darker">
  <a href="/press-releases/unicef-and-who-sound-alarm-over-250-000-children-risk-vaccine-preventable-diseases" title="UNICEF and WHO sound the alarm over 250 000 children at risk of vaccine-preventable diseases in Libya" data-action="/press-releases/unicef-and-who-sound-alarm-over-250-000-children-risk-vaccine-preventable-diseases" data-tracked-component="cta" data-bound="click" data-label="UNICEF and WHO sound the alarm over 250 000 children at risk of vaccine-preventable diseases in Libya">
    <div class="card-content">
      <div class="card-info">
                  <div class="tile--content-category grey-dark">
                        
                      <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
    
                      <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
  
      
                      <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
    <path d="M0 0h24v24H0z" fill="none"></path>
    <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"></path>
</svg>

</div>
            
  </article>
</div>
            
    
      	  
                      <div class="field taxonomy_term name  odd-t string">Press release</div>
            
	    
  
  </div>
</div>
            
          </div>
        
                  <span class="note card-date grey-dark">05 November 2020</span>
              </div>
              
  
<h5 class="h5  white-bg grey-darker">
      UNICEF and WHO sound the alarm over 250 000 children at risk of vaccine-preventable diseases in Libya
  </h5>
              
      <span class="btntext card-button-link btntext primary">Visit the page</span>
  </div>
 </a>
</div>

  </div>
 
  </div>
 <input autocomplete="off" data-drupal-selector="form-b80r-jhllrxbdrjp6-nl4kojrbk2qygewsvm53t33a0" type="hidden" name="form_build_id" value="form-B80r_JhlLrxbDRJp6_nl4kOjrBK2qygEWsvM53T33a0"><input data-drupal-selector="edit-unicef-component-mosaic-automatic" type="hidden" name="form_id" value="unicef_component_mosaic_automatic">
  </div>
  </div>

</form>

  </div>
  </div>
</div>
                                <div class="field_component_sec_blocks-item even">  <div class="column-block rectangle aligned-center">
          
        <div class="field paragraph field_component_col_33_con_items col-3 odd-t entity_reference_revisions">
                        <div class="field_component_col_33_con_items-item odd">

        <div class="field paragraph field_component_colcell_blocks  odd-t entity_reference_revisions">
                        <div class="field_component_colcell_blocks-item odd">
<div class="text--block-content section-block-content">
  <div class="comp-txt">
                      <div class="field paragraph field_component_text_content  odd-t text_long"><p>&nbsp; &nbsp;&nbsp;</p></div>
            </div>
</div>
</div>
                  </div>
  </div>
                                <div class="field_component_col_33_con_items-item even">

        <div class="field paragraph field_component_colcell_blocks  odd-t entity_reference_revisions">
                        <div class="field_component_colcell_blocks-item odd">
  <a href="/media/press-releases" class=" btn primary-bg white contained" data-action="/media/press-releases" data-tracked-component="cta" data-bound="click" data-label="View all press releases" target="">View all press releases</a>
</div>
                  </div>
  </div>
                                <div class="field_component_col_33_con_items-item odd">

        <div class="field paragraph field_component_colcell_blocks  odd-t entity_reference_revisions">
                        <div class="field_component_colcell_blocks-item odd">
<div class="text--block-content section-block-content">
  <div class="comp-txt">
                      <div class="field paragraph field_component_text_content  odd-t text_long"><p>&nbsp; &nbsp;&nbsp;</p></div>
            </div>
</div>
</div>
                  </div>
  </div>
                  </div>
  
      </div>
</div>
                  </div>
  
  </div>
</section>
</div>
                                <div class="grey-lightest-bg">

<section class="section section--block component-section has-title " role="contentinfo" aria-label="Resources for media">
  <div class="container">
        <div class="stitle-cntr">
      <div class="text">
  
  
<h2 class="field center field--name-field-component-sec-title">
      Resources for media
  </h2>
</div>
      
    </div>
        
        <div class="field paragraph field_component_sec_blocks  odd-t entity_reference_revisions">
                        <div class="field_component_sec_blocks-item odd">
  <div class="column-block rectangle aligned-left">
          
      <div class="field paragraph field_component_col_25_con_items col-4 entity_reference_revisions">
                        <div class="field_component_col_25_con_items-item odd">

      <div class="field paragraph field_component_colcell_blocks entity_reference_revisions">
                        <div class="field_component_colcell_blocks-item odd">
<div class="text--block-content section-block-content">
  <div class="comp-txt">
                      <div class="field paragraph field_component_text_content  odd-t text_long"><h4>Media contacts</h4>

<p>See UNICEF's range media contacts, available as communications resources for press colleagues.<br>
&nbsp;</p></div>
            </div>
</div>
</div>
                                <div class="field_component_colcell_blocks-item even">
  <a href="https://www.unicef.org/media/contact-us" class=" btntext primary" data-action="https://www.unicef.org/media/contact-us" data-tracked-component="cta" data-bound="click" data-label="View contacts" target="">View contacts</a>
</div>
                  </div>
  </div>
                                <div class="field_component_col_25_con_items-item even">

      <div class="field paragraph field_component_colcell_blocks entity_reference_revisions">
                        <div class="field_component_colcell_blocks-item odd">
<div class="text--block-content section-block-content">
  <div class="comp-txt">
                      <div class="field paragraph field_component_text_content  odd-t text_long"><h4>Current Issues</h4>

<p>Read about UNICEF’s position on current issues affecting children.<br><br>
&nbsp;</p></div>
            </div>
</div>
</div>
                                <div class="field_component_colcell_blocks-item even">
  <a href="https://www.unicef.org/media/current-issues" class=" btntext primary" data-action="https://www.unicef.org/media/current-issues" data-tracked-component="cta" data-bound="click" data-label="Visit the page" target="">Visit the page</a>
</div>
                  </div>
  </div>
                                <div class="field_component_col_25_con_items-item odd">

      <div class="field paragraph field_component_colcell_blocks entity_reference_revisions">
                        <div class="field_component_colcell_blocks-item odd">
<div class="text--block-content section-block-content">
  <div class="comp-txt">
                      <div class="field paragraph field_component_text_content  odd-t text_long"><h4>Experts</h4>

<p>Talk to our leading experts, available for commentary on child health, nutrition, protection, water, sanitation, and humanitarian crises.</p></div>
            </div>
</div>
</div>
                                <div class="field_component_colcell_blocks-item even">
  <a href="/media/experts" class=" btntext primary" data-action="/media/experts" data-tracked-component="cta" data-bound="click" data-label="Meet our experts" target="">Meet our experts</a>
</div>
                  </div>
  </div>
                                <div class="field_component_col_25_con_items-item even">

      <div class="field paragraph field_component_colcell_blocks entity_reference_revisions">
                        <div class="field_component_colcell_blocks-item odd">
<div class="text--block-content section-block-content">
  <div class="comp-txt">
                      <div class="field paragraph field_component_text_content  odd-t text_long"><h4>Executive Director</h4>

<p>Learn more about&nbsp;Henrietta H. Fore, who became UNICEF's 7th Executive Director on January 1, 2018.<br>
&nbsp;</p></div>
            </div>
</div>
</div>
                                <div class="field_component_colcell_blocks-item even">
  <a href="/media/unicef-executive-director-henrietta-h-fore" class=" btntext primary" data-action="/media/unicef-executive-director-henrietta-h-fore" data-tracked-component="cta" data-bound="click" data-label="Meet our Executive Director" target="">Meet our Executive Director</a>
</div>
                  </div>
  </div>
                  </div>
  
      </div>
</div>
                  </div>
  
  </div>
</section>
</div>
                                <div class="white-bg">

<section class="section section--block component-section " role="contentinfo" aria-label="">
  <div class="container">
        
        <div class="field paragraph field_component_sec_blocks  odd-t entity_reference_revisions">
                        <div class="field_component_sec_blocks-item odd">
<div class="column-block rectangle aligned-center">
	<div class="col-2-1">
		<div class="col75 column-block-left">
		  
                      <div class="field paragraph field_component_collcon_item  odd-t entity_reference_revisions">

        <div class="field paragraph field_component_colcell_blocks  odd-t entity_reference_revisions">
                        <div class="field_component_colcell_blocks-item odd">

  <div class="paragraph paragraph--type--component-media-reference paragraph--view-mode--three-fourths">
                  
                      <div class="field paragraph field_component_mediaref_media  odd-t entity_reference">
  <div class="view-three_fourths field field--name-field-component-media field--type-entity-reference field--label-hidden field--item">
    
                      <div class="field media image  odd-t">  <img src="{% static 'imgs/UN0161148_crop.jpg' %}" width="1140" height="527" alt="Two children walk where many buildings have been totally destroyed - Mosul, Iraq." typeof="foaf:Image">


</div>
            
      </div>
</div>
            
        
        
            </div>
</div>
                  </div>
  </div>
            
		</div>
		<div class="col25 column-block-left">
		  
                      <div class="field paragraph field_component_colrcon_item  odd-t entity_reference_revisions">

      <div class="field paragraph field_component_colcell_blocks entity_reference_revisions">
                        <div class="field_component_colcell_blocks-item odd">
<div class="text--block-content section-block-content">
  <div class="comp-txt">
                      <div class="field paragraph field_component_text_content  odd-t text_long"><h3 class="text-align-center">Multimedia content</h3>

<p class="text-align-center">Download latest photos and videos.</p></div>
            </div>
</div>
</div>
                                <div class="field_component_colcell_blocks-item even">
  <a href="https://weshare.unicef.org/C.aspx?VP3=CMS3&amp;VF=Home" class=" btn primary-bg white contained" data-action="https://weshare.unicef.org/C.aspx?VP3=CMS3&amp;VF=Home" data-tracked-component="cta" data-bound="click" data-label="Download content" target="">Download content</a>
</div>
                  </div>
  </div>
            
		</div>
	</div>
</div></div>
                  </div>
  
  </div>
</section>
</div>
                  </div>
  
    </div>
    <!-- Document component -->
        
  
  </div>


<!-- Related topics block component -->

  
<div class="sec-block-cntr-related">
<div class="related-content wrapper-container--mosaic mosaic bkgd-related-content">
  <div class="container container-mosaic unicef-component-mosaic">
        
                      <div class="field node field_landingpg_tertiary_blocks  odd-t entity_reference_revisions">
<div class="unicef-component-curated curated-cntr">
    <div class="unicef-component-mosaic--label">
    <h2 class="unicef-mosaic-title mosaic-heading">More UNICEF to explore</h2>
  </div>
  
                    <div class="selectric-secondary secondary col-4">
      

<div class="card  primary-bg white">
  <a href="https://www.unicef.org/about-unicef" title="About UNICEF" data-action="https://www.unicef.org/about-unicef" data-tracked-component="cta" data-bound="click" data-label="About UNICEF">
    <div class="card-content">
      <div class="card-info">
                  <div class="tile--content-category white">
                        
                      <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
    
                      <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
  
      
                      <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 22 18" style="enable-background:new 0 0 22 18;" xml:space="preserve" height="100" width="100">
<path d="M20,0H2C0.9,0,0,0.9,0,2v12c0,1.1,0.9,2,2,2h5v2h8v-2h5c1.1,0,2-0.9,2-2V2C22,0.9,21.1,0,20,0z M20,14H2V2h18V14z M18,5H4v2  h14V5z M18,9H4v2h14V9z"></path>
</svg>

</div>
            
  </article>
</div>
            
    
      	  
                      <div class="field taxonomy_term name  odd-t string">Page</div>
            
	    
  
  </div>
</div>
            
          </div>
        
              </div>
              
  
<h5 class="h5 primary-bg white">
      About UNICEF
  </h5>
                  <p class="card-description text-small primary-bg white">
  Learn about UNICEF, our partners and the people who join with us to fight for the rights of every child.
</p>
              
      <span class="btntext card-button-link btntext white">Visit the page</span>
  </div>
 </a>
</div>


<div class="card  secondary-bg white">
  <a href="https://www.unicef.org/what-we-do" title="What we do" data-action="https://www.unicef.org/what-we-do" data-tracked-component="cta" data-bound="click" data-label="What we do">
    <div class="card-content">
      <div class="card-info">
                  <div class="tile--content-category white">
                        
                      <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
    
                      <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
  
      
                      <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 22 18" style="enable-background:new 0 0 22 18;" xml:space="preserve" height="100" width="100">
<path d="M20,0H2C0.9,0,0,0.9,0,2v12c0,1.1,0.9,2,2,2h5v2h8v-2h5c1.1,0,2-0.9,2-2V2C22,0.9,21.1,0,20,0z M20,14H2V2h18V14z M18,5H4v2  h14V5z M18,9H4v2h14V9z"></path>
</svg>

</div>
            
  </article>
</div>
            
    
      	  
                      <div class="field taxonomy_term name  odd-t string">Page</div>
            
	    
  
  </div>
</div>
            
          </div>
        
              </div>
              
  
<h5 class="h5 secondary-bg white">
      What we do
  </h5>
                  <p class="card-description text-small secondary-bg white">
  Explore UNICEF's work on behalf of children.
</p>
              
      <span class="btntext card-button-link btntext white">Visit the page</span>
  </div>
 </a>
</div>


<div class="card  primary-bg white">
  <a href="https://www.unicef.org/where-we-work" title="Where we work" data-action="https://www.unicef.org/where-we-work" data-tracked-component="cta" data-bound="click" data-label="Where we work">
    <div class="card-content">
      <div class="card-info">
                  <div class="tile--content-category white">
                        
                      <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
    
                      <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
  
      
                      <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 22 18" style="enable-background:new 0 0 22 18;" xml:space="preserve" height="100" width="100">
<path d="M20,0H2C0.9,0,0,0.9,0,2v12c0,1.1,0.9,2,2,2h5v2h8v-2h5c1.1,0,2-0.9,2-2V2C22,0.9,21.1,0,20,0z M20,14H2V2h18V14z M18,5H4v2  h14V5z M18,9H4v2h14V9z"></path>
</svg>

</div>
            
  </article>
</div>
            
    
      	  
                      <div class="field taxonomy_term name  odd-t string">Page</div>
            
	    
  
  </div>
</div>
            
          </div>
        
              </div>
              
  
<h5 class="h5 primary-bg white">
      Where we work
  </h5>
                  <p class="card-description text-small primary-bg white">
  Explore UNICEF's work in over 190 countries and territories.
</p>
              
      <span class="btntext card-button-link btntext white">Visit the page</span>
  </div>
 </a>
</div>


<div class="card  secondary-bg white">
  <a href="http://www.unicef.org/about/employ/" title="Work with us" data-action="http://www.unicef.org/about/employ/" data-tracked-component="cta" data-bound="click" data-label="Work with us">
    <div class="card-content">
      <div class="card-info">
                  <div class="tile--content-category white">
                        
                      <div class="field node field_shared_content_group  odd-t entity_reference"><div class="content-category-content">
    
                      <div class="field taxonomy_term field_cgroup_icon  odd-t entity_reference"><article>
  
      
                      <div class="field media field_cgroupicon_image  odd-t svg_image_field">  <!--?xml version="1.0"?-->
<svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="100" viewBox="0 0 24 24" width="100">
    <path d="M0 0h24v24H0z" fill="none"></path>
    <path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"></path>
</svg>

</div>
            
  </article>
</div>
            
    
      	  
                      <div class="field taxonomy_term name  odd-t string">Link</div>
            
	    
  
  </div>
</div>
            
          </div>
        
              </div>
              
  
<h5 class="h5 secondary-bg white">
      Work with us
  </h5>
                  <p class="card-description text-small secondary-bg white">
  Want to change the world? Work with UNICEF.
</p>
              
      <span class="btntext card-button-link btntext white">Visit the site</span>
  </div>
 </a>
</div>


  </div>
  </div>
</div>
            
  </div>
</div>
</div>
<div class="sharethis-wrapper">
    <span st_url="https://www.unicef.org/research-and-reports" st_title="Research and reports" class="st_facebook_large" displayText="facebook"></span>

    <span st_url="https://www.unicef.org/research-and-reports" st_title="Research and reports @unicef" class="st_twitter_large" displayText="twitter"></span>

    <span st_url="https://www.unicef.org/research-and-reports" st_title="Research and reports" class="st_linkedin_large" displayText="linkedin"></span>

    <span st_url="https://www.unicef.org/research-and-reports" st_title="Research and reports" class="st_whatsapp_large" displayText="whatsapp"></span>
</div>

</article>
{% endblock %}